:root {
  --primary-background-color: #ffffff;
  --content-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --primary-text-color: #757575;
  --logo-color: #2196f3;
  --header-logo-color: #000000;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-headline-color: #ffffff;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --second-section-background-color: #f5f4fa;
  --team-item-background: #ffffff;
  --icon-color: #afb1b8;
  --accent-team-icon-color: #ffffff;
  --accent-team-background-color: #2196f3;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}
.link {
  text-decoration: none;
}

/*--------------------------- section container ------------------------*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*--------------------------- header------------------------------------ */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-content {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid #ececec;
}
.header-content__nav {
  display: flex;
  height: 80px;
  align-items: center;
}
/*---------------------------logo --------------------------------------*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
}
.header-content__logo {
  color: var(--header-logo-color);
}
/*--------------------------- menu nav ---------------------------------*/

.menu-nav {
  display: flex;
  margin-left: 93px;
}
.menu-nav__item {
  padding: 32px 0;
}

.menu-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link:hover,
.menu-nav__link:focus {
  color: var(--accent-color);
}
.menu-nav__link--current {
  color: var(--accent-color);
}

.menu-nav__link::after {
  position: absolute;
  content: "";
  display: flex;

  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link--current::after,
.menu-nav__link:hover::after,
.menu-nav__link:focus::after {
  background-color: var(--accent-team-background-color);
}

.menu-nav__item:not(:last-child),
.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

/*--------------------------- header contacts --------------------------*/

.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts__contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__contact:hover,
.header-contacts__contact:focus {
  color: var(--accent-color);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__contact:hover .header-contacts__icon,
.header-contacts__contact:focus .header-contacts__icon {
  fill: var(--accent-color);
}


/*--------------------------- hero content -----------------------------*/
.hero-content {
  width: 1600px;
  background-color: var(--content-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0px 200px;
  margin: auto;
  text-align: center;
}
.hero-content__headline {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 30px;
  color: var(--hero-headline-color);
}

/*--------------------------- button -----------------------------------*/
.button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}
.button__hero-content {
  display: inline-block;
  min-width: 216px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  margin: auto;
  padding: 10px 34px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button--primary {
  background-color: var(--accent-color);
  color: var(--hero-headline-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button--primary:focus,
.button--primary:hover {
  color: var(--title-text-color);
  background-color: var(--team-background-color);
}

/*--------------------------- peculiarities ----------------------------*/
.section__caption {
  visibility: hidden;
  margin: 0;
  height: 0;
}
.section__items {
  display: flex;
  gap: 30px;
}

.section__block-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-section-background-color);
  border-radius: 4px;
}
.section__icon {
  width: 70px;
  height: 70px;
}
.section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 0 10px;
  color: var(--title-text-color);
}
.section__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

/*-------------------------- work --------------------------------------*/
.section-work {
  padding-top: 0;
}
.section__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
}
.section__work-thumb {
  display: flex;
  position: relative;
}
.work-thumb__action {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-thumb__title {
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
  text-transform: uppercase;

  color: var(--hero-headline-color);
}
.image {
  display: block;
}

/*--------------------------- team -------------------------------------*/
.section-team {
  background-color: var(--team-background-color);
}
.section-team__item{
  width: 270px;
  background-color: var(--team-item-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} 

.section-team__name-box {
  padding: 30px 32px;
}
.section-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.section-team__text {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}


/* -------- team & projects text ---------- */
.section-team__text,
.project-box__text {
  font-size: 16px;
  line-height: 1.8;
}


/* ------------team network ---------------- */

.network {
  display: flex;
}
.network__item:not(:last-child) {
  margin-right: 10px;
}
.network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network__link:hover .network__icon,
.network__link:focus .network__icon {
  fill: var(--accent-team-icon-color);
}
.network__link:hover,
.network__link:focus {
  background-color: var(--accent-team-background-color);
}

/* --------------------------clients------------------------------------ */
.clients {
  display: flex;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-team-background-color);
}

/*--------------------------- footer -----------------------------------*/
.page-footer {
  background-color: var(--content-background-color);
  padding: 60px 0;
}

.page-footer__box {
  display: flex;
  align-items: baseline;
}
.page-footer__address-box {
  margin-right: 70px;
}

.page-footer__logo {
  color: var(--hero-headline-color);
}
.page-footer__contacts {
  margin-top: 20px;
}

.page-footer__contact,
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-contact);
}
.address {
  color: var(--hero-headline-color);
}
.page-footer__contact {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__address:not(:last-child) {
  margin-bottom: 9px;
}
.page-footer__contact:hover,
.page-footer__contact:focus {
  color: var(--accent-color);
}
/*--------------------------- Social -----------------------------------*/
.footer-social {
  width: 206px;
  height: 80px;
  margin-top: 12px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: var(--hero-headline-color);
}
.footer-social__list {
  display: flex;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: var(--accent-team-icon-color);
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-team-background-color);
  border-radius: 50%;
}

/*--------------------------- footer form ------------------------------*/
.footer-form {
  margin-left: auto;
}
.footer-form__group {
  display: flex;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  margin-right: 12px;
  padding: 15px 16px;
  color: var(--accent-team-icon-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:hover,
.footer-form__input:focus {
  border-color: var(--accent-color);
}
.footer-form__button {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  align-content: baseline;
  color: var(--hero-headline-color);
  background-color: var(--accent-team-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-form__icon {
  margin-left: 10px;
  fill: var(--accent-team-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__button:hover .footer-form__icon,
.footer-form__button:focus .footer-form__icon {
  fill: var(--header-logo-color);
}

/*--------------------------- portfolio --------------------------------*/

/*--------------------------- buttons ----------------------------------*/
.portfolio-filtres {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio-filtres__button {
  font-weight: 500;
  font-size: 16px;
  min-width: 73px;
  padding: 6px 22px;
  line-height: 1.6;
}
.button--secondary {
  background-color: var(--team-background-color);
  color: var(--title-text-color);
  transition-property: background-color, color, padding;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button--secondary:hover,
.button--secondary:focus {
  background-color: var(--accent-color);
  color: var(--hero-headline-color);
  padding: 6px 25px;
}

/*--------------------------- projects ---------------------------------*/

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  gap: 30px;
}
.projects-list__project {
  /* width: 370px; */
  width: calc((100% - 60px) / 3);
  background-color: var(--primary-background-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay{
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.projects-list__project:hover .overlay__box {
  transform: translatey(0);
}
.overlay__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;

  color: var(--hero-headline-color);
}


.project-box {
  padding: 20px 24px 20px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.project-box__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
}
.project-box__text {
  color: var(--primary-text-color);
  margin: 0;
}



/*------------------------- backdrop ----------------------------------*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);

  /* -------------------------- modal window -----------------------------*/
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.button-close {
  display: flex;
  position: absolute;

  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;

  padding: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background-color: var(--team-item-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.button-close__icon {
  width: 11px;
  height: 11px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover .button-close__icon,
.button-close:focus .button-close__icon {
  fill: var(--accent-color);
}
.modal__form {
  width: 100%;
  height: 100%;
  padding: 40px;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;

  color: #212121;
}

.modal__form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-bottom: 4px;

  color: #757575;
}
.modal__input {
  font-size: 12px;
  padding: 12px 16px 12px 42px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  pointer-events: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
}

.textarea {
  padding: 12px 16px;
  resize: none;
}
.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input:hover,
.modal__input:focus {
  border-color: var(--accent-color);
}
.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.checkbox {
  margin-bottom: 30px;
}

.modal__label-checkbox {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin: auto;
  color: var(--primary-text-color);
  cursor: pointer;
}

.modal__input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal__checkbok-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
}
.modal__input-checkbox:checked + .modal__checkbok-icon {
  fill: white;
  background-color: #2196f3;
  border-color: transparent;
  background-origin: border-box;
}

.modal__link {
  display: inline-block;
  margin-left: 5px;
  line-height: 0.9;
  border-bottom: 1px solid;
  color: var(--accent-color);
}
.modal__button-send:focus,
.modal__button-send:hover {
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.15);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-send {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  margin: 0 125px;
  padding: 10px 52px;
  color: var(--hero-headline-color);
  background-color: var(--accent-team-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
