.logo {
  font-family: $font-logo;
  font-weight: $font-wh-bold;
  font-size: 26px;
  line-height: 1.2;
  color: $logo-color;
}

.header-content__logo {
  color: $header-logo-color;
}
.page-footer__logo {
  color: $footer-logo-color;
}
