.page-footer {
  background-color: $content-background-color;
  padding: 60px 0;

  &__box {
    display: flex;
    align-items: baseline;
  }

  &__address-box {
    margin-right: 70px;
  }
}
.footer__title {
  font-weight: $font-wh-bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: $hero-headline-color;
}
