.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__items {
    display: flex;
    gap: 30px;
  }

  &__headline {
    font-weight: $font-wh-bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    color: $title-text-color;
  }
}
.image {
  display: block;
}
